<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= time.nome%>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" href="/pictures/sistem/logo_podium.png" type="image/png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <%- include('./components/header.ejs')%>
    <main>
      <!-- latetal esqueda -->
      <article class="body">

        <section class="section card1">
          <div class="linha">
            <h3>
              <%= time.nome%>
            </h3>
          </div>

          <div style="padding: 10px;" class="form">
            <form action="/updatetime" method="post">
              <div class="form-group">
                <label for="">Nome</label>
                <input type="text" class="form-control" name="nomeTime" value="<%= time.nome%>" required placeholder="">
              </div>
              <div class="form-group">
                <label for="">Cateroria</label>
                <input type="text" class="form-control" name="categoriaTime" value="<%= time.categoria%>"
                  placeholder="">
              </div>

              <div class="form-group">
                <label for="">Estado</label>
                <input type="text" class="form-control" name="estadoTime" value="<%= time.estado%>" placeholder="">
              </div>
              <div class="form-group">
                <label for="">Cidade</label>
                <input type="text" class="form-control" name="cidadeTime" value="<%= time.cidade%>" placeholder="">
              </div>
              <input type="number" name="id" value="<%= time.id_equipe%>" style="display: none;">
              <div class="linha" style="justify-content: end;">
                <button class="btn btn-primary " type="submit">Salvar</button>
              </div>
            </form>
          </div>
        </section>
      </article>
      <!-- lateral direita -->
      <article class="aside">
        <section class="section card1">
          <div class="linha">
            <h3 class="mb-4">Jogadores</h3>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              data-bs-whatever="@mdo">Novo</button>
          </div>
          <%- include('./components/jogadorModal.ejs')%>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Nome</th>
                  <th>Número</th>
                  <th>Posição</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="listaJogadores">
                <% jogadores.forEach(jogador=> { %>
                  <tr style="cursor:pointer;" onclick="window.location='/jogador?id=<%= jogador.id_jogador %>';">
                    <td>
                      <%= jogador.nome %>
                    </td>
                    <td>
                      <%= jogador.numero %>
                    </td>
                    <td>
                      <%= jogador.posicao %>
                    </td>
                    <td>
                      <a href="/delete_jogador?jogador=<%= jogador.id_jogador %>&time=<%= time.id_equipe%>"><i
                          class="fas fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
        </section>

        <section class="section card1">
          <div class="linha">
            <h3 class="mb-4">Jogos</h3>
            
          </div>
        </section>
      </article>

    </main>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"></script>
</body>

</html>